* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #020617;
  --form-bg: #1e293b;
  --accent-color: #3b82f6;
  --text-color: #ffffff;
  --error-color: #f87171;
}

body {
 font-family: 'Open Sans',  sans-serif;
  background-color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: var(--form-bg);
  padding: 30px;
  border-radius: 10px;
  height: auto;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

/* progress section */
.progress-cotainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;
}
.progress-cotainer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--accent-color);
  z-index: 1;
  transform: translateY(-50%);
}
.progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  background-color: var(--primary-bg);
  z-index: 1;
 transform: translateY(-50%);
  width: 0%;
  transition: width 0.6s ease-in-out;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: var(--form-bg);
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-weight: 400;
  z-index: 2;
  transition: background-color 0.8s ease, border-color 0.8s ease;
}
.circle.active {
  background-color: var(--primary-bg);
  border-color: var(--primary-bg);

}

/* FORM CONTAINER */
.form-container {
  position: relative;     
  height: 280px;
  overflow: hidden;
}

/* FORM STEPS */
.form-step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: left 0.4s ease;
}

/* INITIAL POSITIONS */

.main-heading{
  color: var(--text-color);
  padding-bottom: 10px;
  text-align: center;
}
#form1 {
  left: 0;
}

#form2 {
  left: 460px;
}

#form3 {
  left: 460px;
}

/* FORM ELEMENTS */
label {
  display: block;
  margin-bottom: 10px;
  color: var(--text-color);
  font-weight: 400;
}

input {
  width: 100%;
  font-weight: 100;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: transparent;
  color: var(--text-color);
}

input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.error {
  color: var(--error-color);
  font-size: 13px;
  margin-top: 3px;
}
input.error-input {
  border-color: var(--error-color);
}

/* Button */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background-color: var(--accent-color);
  color: var(--text-color);
}

button:hover {
  background-color: #2563eb;
}

button:active {
  background-color: #1e40af;
  transform: scale(0.98);
}

 /* Result  */
#result {
  display: none;           
  background-color: var(--primary-bg); 
  color: var(--text-color);         
  padding: 20px;                 
  border-radius: 10px;    
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  max-width: 500px;  
  overflow: hidden;      
}
#result p{
  margin-bottom: 8px;
}


.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 30%;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 12px;
  padding: 2px 5px;
}

.toggle-password:hover {
  color: var(--accent-color);
  color: var(--text-color);
}

.Created-by {
  font-size: 12px; 
  color: #888; 
  text-align: center; 
 padding-top: 20px; 
  font-style: italic; 
}

.Created-by:hover {
  color: var(--accent-color)
}




