
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 1.4rem;
  text-align: center;
}


.maincotainer{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque; 
}


.maincotainer {
  padding: 20px;
background-color: bisque;
}

.Grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
  background-color: white;
}

.header{
background-color: blue;

grid-column: 1 / span 5;


}

.hero{
background-color: pink;
grid-column: 1 / span 2;


}

.maincontent{
background-color: yellow;
grid-column: 3 / span 3;
grid-row: 2 / span 2;


}
.sidebar{
background-color: seagreen;
grid-row: 3 / span 2;
grid-column: 1 / span 2;

;
}
.extracotent{
background-color: gray;
grid-column: 3 / span 3;

}

.related_img{
background-color: darkgreen;
grid-column: 1 / span 3;

}
.related_post{
background-color: lightpink;
grid-column: 4 / span 2 ;

}
.footer{
background-color: darkgoldenrod;
grid-column: 1 / span 5;


}




