*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins' , sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #333;

}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;

}
.nav-bar{
   background: lightblue;
   padding: 1.5rem 2rem;
   height: 80px;

}
.nav-bar .logo{
    width: 100px;
}
.navbar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-bar .main-menu-list{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.nav-bar a:hover{
    color: blue;

}
/* mobile menu  */
.nav-bar .mobile-menu-items{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(154, 192, 204, 0.5);
    text-align: center;
    transition: transform 0.8s ease;

    
    transform: translateX(100%);

}
.nav-bar .mobile-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 300px;
    gap: 2rem;
    font-size: 1.2rem;


}
.nav-bar .mobile-menu-toggle{
    cursor: pointer;
}
.nav-bar .mobile-menu-items.active
{
    transform: translateX(0);

}
.nav-bar .mobile-menu{
    display: none;
}


@media(max-width: 768px){
    .nav-bar .main-menu{
        display: none;

    }
    .nav-bar .mobile-menu{
    display: block;
}

}