* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  perspective: 1000px; /* depth of view */
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* enable 3D for children */
  animation: rotateCube 5s linear infinite;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

/* Front */
.front {
  background: #f00;
  transform: translateZ(100px);
}

/* Back */
.back {
  background: #00f;
  transform: rotateY(180deg) translateZ(100px);
}

/* Right */
.right {
  background: #0f0;
  transform: rotateY(90deg) translateZ(100px);
}

/* Left */
.left {
  background: #ff0;
  transform: rotateY(-90deg) translateZ(100px);
}

/* Top */
.top {
  background: #0ff;
  transform: rotateX(90deg) translateZ(100px);
}

/* Bottom */
.bottom {
  background: #f0f;
  transform: rotateX(-90deg) translateZ(100px);
}


/* Animation */
@keyframes rotateCube {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
