*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans' , sans-serif;
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
:root{
    --primarycolor: #fcf5e9;
    --container-normal: 1100px;
    --container-wide: 1400px;
    --container-narrow: 900px;
}
.bg-color{
  background: var(--primarycolor);
}
.container{
    
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}
.container-lg{
    max-width: var(--container-wide);
}
.container-sm{
    max-width: var(--container-normal);
}
.header .logo{
    width: 130px;

}
.header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.header .main-menu{
    display: flex;
    gap: 1rem;
}
.header{
    margin: 1.5rem auto;
}
.header .main-menu a{
    padding: 0.5rem 1rem;
}
.header .main-menu a:hover{
    background: var(--primarycolor);;
}
.current{
     background: var(--primarycolor);;
     font-weight: 600;
}
.hero .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.hero {
    height: 400px;
}
.hero h2{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
   margin-top: 60px;
}
.gallery-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery-item{
    width: calc(33.333% - 20px);
    border-radius: 10px;
}
.gallery-item img{
    border-radius: 10px;
}
.gallery-item:hover{
    opacity: 0.9;
}


@media(max-width: 768px){
   .header .header-flex{
    flex-direction: column;
    gap: 1.5rem;
   }
.hero{
    height: 300px;
}
.hero h2{
font-size: 1.8rem; 
margin-top: 40px;   
}
.gallery-item{
    width: calc(50% - 20px);

}